body {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px 0;
}

#profile-pic {
  background-color: rgb(229 231 235);
  border-width: 2px;}

