@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary-bg: #f3f4f6;
      --color-primary-text: #111827;
      --color-secondary-text: #4b5563;
      --color-muted-text: #6b7280;
      --color-accent-bg: #111827;
      --color-accent-text: #f3f4f6;
      --color-input-bg: #e5e7eb;
      --color-input-border: #d1d5db;
      --color-button-primary: #1d4ed8;
      --color-button-primary-text: #f3f4f6;
      --color-button-primary-hover: #2563eb;
    }
    
    .dark {
      --color-primary-bg: #111827;
      --color-primary-text: #f3f4f6;
      --color-secondary-text: #9ca3af;
      --color-muted-text: #9ca3af;
      --color-accent-bg: #f3f4f6;
      --color-accent-text: #111827;
      --color-input-bg: #1f2937;
      --color-input-border: #374151;
      --color-button-primary: #1d4ed8;
      --color-button-primary-text: #f3f4f6;
      --color-button-primary-hover: #2563eb;
    }

    html {
      @apply scroll-smooth;
      font-family: Montserrat;
    }
  }

  @layer utilities {
    .bg-primary {
      background-color: var(--color-primary-bg);
    }
    
    .text-primary {
      color: var(--color-primary-text);
    }
    
    .text-secondary {
      color: var(--color-secondary-text);
    }
    
    .text-muted {
      color: var(--color-muted-text);
    }

    .text-button-primary {
      color: var(--color-button-primary-text);
    }
    
    .bg-accent {
      background-color: var(--color-accent-bg);
    }
    
    .text-accent {
      color: var(--color-accent-text);
    }
    
    .bg-input {
      background-color: var(--color-input-bg);
    }
    
    .border-input {
      border-color: var(--color-input-border);
    }
    
    .bg-button-primary {
      background-color: var(--color-button-primary);
    }
    
    .bg-button-primary:hover {
      background-color: var(--color-button-primary-hover);
    }

  }

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');